# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Sudor y Sangre.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Sudor y Sangre\.idea\.idea.Sudor y Sangre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
